{% extends "recommender/index.html" %}
{% block content %}
  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
      <p>{{ error|escape }}</p>
    {% endfor %}
  {% endif %}
  {% if next %}
    {% if user.is_authenticated %}
      <p>
        You are authenticated as "{{ user.get_username }}", but are not authorized
        to access this page. Would you like to login to a different account?
      </p>
    {% else %}
      <p>
        Please login to view this page.
      </p>
    {% endif %}
  {% endif %}
  <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-control">
      <p>{{ form.username.label_tag }}
        {{ form.username }}
      </p>
    </div>
    <div class="form-control">
      <p>{{ form.password.label_tag }}
        {{ form.password }}
      </p>
    </div>
    <input type="submit" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  <p><a href="{% url 'password_reset' %}">Forgot your password?</a><p>
{% endblock %}
