{% extends "recommender/index.html" %}

{% block content %}
  <h1>{{ restaurant.name }}</h1>
  <h2>{% if update %}Update{% else %}Add{% endif %} Dish</h2>
  <form method="post" action="" novalidate>
    {% csrf_token %}
    <div class="form-control">
      <p>{{ form.name.errors }}</p>
      <p>{{ form.name.label_tag }} {{ form.name }}</p>
    </div>
    <div class="form-control">
      <p>{{ form.price.errors }}</p>
      <p>{{ form.price.label_tag }} {{ form.price }}</p>
    </div>
    <div class="form-control">
      <p>{{ form.image_url.errors }}</p>
      <p>{{ form.image_url.label_tag }}<span class="form-info">(optional)</span> {{ form.image_url }}</p>
    </div>
    <div class="form-control">
      {% if form.rating.errors %}<p>{{ form.rating.errors }}</p>{% endif %}
      <p>{{ form.rating.label_tag }} {{ form.rating }}</p>
    </div>
    <input type="submit" value="{% if update %}Update{% else %}Add{% endif %} Dish" />
  </form>
{% endblock %}
