{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <script src="https://kit.fontawesome.com/b4eaa189da.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
            <!-- <i class="fas fa-thumbs-up fa-5x"></i> -->
        </span>
        <a href="#" class="logo"><img src="{% static 'img/amara.jpg' %}" alt="logo" class="profile-img"></a>
        <ul class="main-nav" id="js-menu">
            <li>
                <a href="#" class="nav-link">Home</a>
            </li>
            <li>
                <a href="#" class="nav-link">Menu</a>
            </li>
            <li>
                <a href="#" class="nav-link">Orders</a>
            </li>
            <li>
                <a href="#" class="nav-link">Products</a>
            </li>
            <li>
                <a href="" class="nav-link">About</a>
            </li>
        </ul>
    </nav>

   
</body>

<script>
    let mainNav = document.getElementById('js-menu');
    let navBarToggle = document.getElementById('js-navbar-toggle');

    navBarToggle.addEventListener('click', function(){
        mainNav.classList.toggle('active');
    })
</script>
</html>