{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/nav.css' %}">
  <link rel="stylesheet" href="{% static 'css/dish.css' %}">
  <script src="https://kit.fontawesome.com/b4eaa189da.js" crossorigin="anonymous"></script>
</head>
<body>
  {% include "recommender/nav.html" %}
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <div id="pagination">
    {% block pagination %}
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        {% if page_obj.number  != page_obj.paginator.num_pages %}
          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
        {% endif %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    {% endblock %}
  </div>
</body>

<script>
    let mainNav = document.getElementById('js-menu');
    let navBarToggle = document.getElementById('js-navbar-toggle');

    navBarToggle.addEventListener('click', function(){
        mainNav.classList.toggle('active');
    })
</script>
</html>
