{% load static %}
<nav class="navbar">
    <span class="navbar-toggle" id="js-navbar-toggle">
        <i class="fas fa-bars"></i>
        <!-- <i class="fas fa-thumbs-up fa-5x"></i> -->
    </span>
    <a href="{% url 'recommender:index' %}" class="logo"><img src="{% static 'img/amara.jpg' %}" alt="logo" class="profile-img"></a>
    <ul class="main-nav" id="js-menu">
        <li>
            <a href="{% url 'recommender:index' %}" class="nav-link">Home</a>
        </li>
        <li>
            <a href="#" class="nav-link">Menu</a>
        </li>
        <li>
            <a href="#" class="nav-link">Orders</a>
        </li>
        <li>
            <a href="{% url 'recommender:dishes-list' %}" class="nav-link">Products</a>
        </li>
        <li>
            <a href="" class="nav-link">About</a>
        </li>
        {% if user.is_authenticated %}
          <li>
            <a href="#" class="nav-link">{{ user.get_username }}</a>
          </li>
          <li>
            <a href="{% url 'logout' %}" class="nav-link">Logout</a>
          </li>
        {% else %}
          <li>
            <a
              class="nav-link"
              href="{% url 'login' %}?next={% if next %}{{ next }}{% else %}{{ request.path }}{% endif %}">
              Login
            </a>
          </li>
          <li>
            <a href="{% url 'recommender:sign-up' %}" class="nav-link">Sign Up</a>
          </li>
        {% endif %}
    </ul>
</nav>
